/* style for the main layout */
VBox {
	-fx-background-color: #282828
}

Button {
	-fx-background-color: #282828;
	-fx-text-fill: white
}

Label {
	-fx-text-fill: white
}

#upperDisp {
	-fx-text-fill: grey
}